.vs/Chroma/v17/Browse.VC.opendb
.vs/Chroma/v17/Browse.VC.db-wal
.vs/Chroma/v17/Browse.VC.db-shm
.vs/Chroma/v17/Browse.VC.db
.vs/Chroma/v17/.suo
.vs/Chroma/FileContentIndex/cab34232-a1b1-48d7-bb62-a55b4d54a233.vsidx
.vs/Chroma/FileContentIndex/bb13ef4d-9550-419f-a09a-6002fb4591c6.vsidx
.vs/Chroma/v17/Browse.VC.db
.vs/Chroma/v17/.suo
.vs/Chroma/FileContentIndex/bb13ef4d-9550-419f-a09a-6002fb4591c6.vsidx
.vs/Chroma/v17/.suo
.vs/Chroma/FileContentIndex/15df4fb4-63c5-4c9f-a3c7-be9e36ceed24.vsidx
*.vsidx
.vs/Chroma/v17/.suo
.vs/Chroma/v17/Browse.VC.db
.vs/Chroma/v17/ipch/AutoPCH/a5f9186ce4310f02/RENDERMANAGER.ipch
.vs/Chroma/v17/Browse.VC.db
.tmp/Debug-x64
*.ipch
*.obj
*.ilk
*.log
*.tlog
*.idb
*.tmp
*.bak
*.swp
*.pyc
*.class
*.o
*.pdb
*.exe
__pycache__/
.idea/
.vscode/
